* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}
body {
  font: 16px Helvetica, Arial;
  display: flex;
  height: 100vh;
}

header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header .participants li {
  font-size: 1.2em;
  padding: 0.4em;
}

header .info .class {
  font-size: 2em;
  text-align: center;
  color: white;
}

header .info .name {
  font-size: 2em;
  text-align: center;
  margin: 0.5em;
  color: white;
}

.king::after {
  float: right;
  color: gold;
  content: "왕";
  text-align: center;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid gold;
}

.expedition::after {
  float: right;
  color: royalblue;
  content: "원정";
  text-align: center;
  width: 2.4em;
  height: 1.2em;
  border: 2px solid royalblue;
}
.player1 {
  color: red;
  border-color: red;
}
.player2 {
  color: blue;
  border-color: blue;
}
.player3 {
  color: yellow;
  border-color: yellow;
}
.player4 {
  color: purple;
  border-color: purple;
}
.player5 {
  color: green;
  border-color: green;
}
.player6 {
  color: orange;
  border-color: orange;
}
.player7 {
  color: darkcyan;
  border-color: darkcyan;
}
.player8 {
  color: brown;
  border-color: brown;
}

.red {
  border: 2px solid red;
}
.blue {
  border: 2px solid blue;
}

main {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.stages {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.stages div {
  width: 5rem;
  height: 5rem;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.votes {
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
}

.votes div {
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.flag {
  background: coral;
}

.success {
  background: blue;
}

.fail {
  background: red;
}
main ul {
  flex: 1;
  overflow-y: scroll;
}
form {
  background: white;
  padding: 3px;
  bottom: 0;
}
form input {
  border: 0;
  padding: 10px;
  color: white;
  width: 90%;
  margin-right: 0.5%;
}
form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}
.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}
.messages li {
  padding: 5px 10px;
  color: white;
}
.messages li:nth-child(odd) {
  background: #eee;
  color: black;
}
.messages li:nth-child(odd) span {
  background: #eee;
}

article {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: gray;
  color: white;
}

article .history {
  flex: 1;
  overflow-y: scroll;
  background: gray;
}

article .history li {
  display: flex;
  justify-content: space-between;
}
article .history li div {
  width: 2rem;
  height: 2rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  padding-top: 2rem;
  line-height: 1.5rem;
  font-size: 0.3em;
}

.agree {
  background: white;
}

.disagree {
  background: black;
}

article .selection {
  flex: 2;
}
.selection {
  display: flex;
  flex-direction: column;
}
.selection button {
  font-size: 2em;
  flex: 1;
  color: white;
}

.selection button:first-child {
  background: mediumspringgreen;
}
.selection button:last-child {
  background: orangered;
}
